html body {
	font-family: Comic-Sans;
	color: #000033;
	background: #F5F5F5;
	font-size: 20px;
	text-align: center;
}


a {
	color: #0078A0;
}

.content {
	padding: 0 15% 20px;
}


.content h1 {
	text-transform: uppercase;
	font-weight: bold;
	margin: 20px 0;
}

.content form {
	padding: 10px;
	width: 300px;
	margin: 0 auto;
}

.content form input {
	width: 100%;
	border: 2px solid #107394;
	color: #107394;
	background: transparent;
	margin-bottom: 15px;
}

.mouse-over{
	background: orange;
}

.click{
	background: yellow;
}

.submit{
	background: #F5F5F5;
}

.timeout{
	background: gold;
}
